.about-container .left-about p {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }

  .controlls {
    top: auto;
    bottom: 0;
    justify-content: center;
    width: 10%;
    .control {
      margin: 1rem 0.3rem;
    }
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .section {
    padding: 2rem 2.5rem !important;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
    p {
      font-size: 15px;
      color: var(--color-grey-2);
    }
    span {
      font-size: 15px;
    }
    .icon {
      grid-template-columns: 25px 1fr;
    }
  }

  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2.3rem;
      }
    }
  }
}

@media screen and (max-width: 1432px) {
  .section {
    padding: 7rem 11rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1250px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-content .right-header {
    padding-right: 9rem;
  }
}
@media screen and (max-width: 660px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .right-about {
      padding-top: 2.5rem;
    }
  }
  .main-title {
    h2 {
      font-size: 4rem;
      span {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
    .image {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }
}
@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.3rem;
  min-height: 500px;
  position: absolute;
  top: 20%;
  border-radius: 15px;
  z-index: 2;

  .modal-content {
    align-self: center;
    width: 50%;
  }

  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }

  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }

  .btn-close {
    transform: translate(10px, 40px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    float: right;
  }

  @media only screen and (max-width: 700px) {
    top: 50%;
    .modal-content {
      width: inherit;

      img {
        width: inherit;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.isHidden {
  display: none;
}

#cadCamTechnicalDrawingModal {
  .modal-content {
    width: 50%;

    img {
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
