.tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .tab {
    div {
      margin: 0 10px;
    }
  }

  .tab {
    a {
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      border: 1px solid var(--color-secondary);
    }
  }

  .tabcontent {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .tab {
      flex-wrap: wrap;
    }

    .tab {
      div {
        margin: 10px 0;
      }
    }

    .tab  {
      .main-btn {
        .btn-text {
          padding: 0;
        }
      }
  }
}

#puzzleList {
  margin: 25px;

  div {
    a {
      &.active-puzzle-tab {
        background-color: rgb(39, 174, 96);
      }

      &.active-puzzle-tab-light {
        background-color: rgb(30, 144, 255);
      }
    }

    margin: 5px;
    width: fit-content;

    .puzzleTab {
      padding: 5px;
    }
  }
}

#puzzle-gallery-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  div {
    margin: 0 15px;

    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
  }
}
